.navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 36px 40px 50px 40px;
        img{
            width: 55%;
        }
        
}
    
