$background: linear-gradient(204.65deg, #222224 26.65%, rgba(34, 34, 36, 0.93) 46.84%, rgba(34, 34, 36, 0.85) 72.82%, rgba(34, 34, 36, 0.74) 87.28%);
$textColor: #F5F5F5;
$music: #43443F;
$books: #130807;
$movies: #382628;
$shows: #241C1A;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
html, body {
    background-color: $background;
    width: 100%;
    height: 100%;
}